<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ page_title }}{% endblock %}</title>
        {% load staticfiles %}
        {% load humanize %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!-- css -->
		<link href="{% static 'daily_lotto/home/css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'daily_lotto/home/css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
		<link href="{% static 'daily_lotto/home/css/flexslider.css' %}" rel="stylesheet" />
		<link href="{% static 'daily_lotto/home/css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'daily_lotto/home/css/custom.css' %}" rel="stylesheet" />
        <!-- END PAGE LEVEL STYLES -->
		<link rel="shortcut icon" type="image/png" href="{%  static 'tossapp/assets/img/download.jpg' %}"/>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
    {% url 'index' as url1 %}
    {% url 'about_us' as url2 %}
    {% url 'contact' as url3 %}
    {% url 'faq' as url4 %}

	<body>
		<div id="wrapper" class="home-page">
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Mon - Sunday 8.00 - 18.00.</span></p>
							<p class="pull-right"><i class="fa fa-phone"></i>Tel No. (+256)70-342-6511</p>
						</div>
					</div>
				</div>
			</div>

			<!-- start header -->
			<header>
				<div class="navbar navbar-default navbar-static-top">
					<div class="container">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
                            {% if user.is_authenticated %}
							<a class="navbar-brand" href="{% url 'index' %}?next={% url 'dashboard' %}"><img src="{% static 'tossapp/assets/img/logo.png' %}" alt="logo"/></a>
                                {% else %}
                                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'tossapp/assets/img/logo.png' %}" alt="logo"/></a>
                            {% endif %}
						</div>

						<div class="navbar-collapse collapse ">
							<ul class="nav navbar-nav">
								{% if user.is_authenticated %}
								<li><a href="{% url 'index' %}?next={% url 'dashboard' %}">Home</a></li>
                                    {% else %}
                                    <li><a href="{% url 'index' %}">Home</a></li>
                            {% endif %}
								<li {% if request.path == url2 %} class="active" {% endif %}>
                                    <a href="{% url 'about_us' %}">About Us</a>
                                </li>
								<li {% if request.path == url4 %}class="active" {% endif %}>
                                    <a href="{% url 'faq' %}">FAQ</a>
                                </li>
								<li {% if request.path == url3 %}class="active" {% endif %}>
                                    <a href="{% url 'contact' %}">Contact</a></li>
                            {% if user.is_anonymous %}
								<li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                            {% if user.is_anonymous %}
								<li><a href=""> | </a></li>
								<li><a href="{% url 'register' %}">Create Account</a></li>
                                {% endif %}
							</ul>
						</div>
					</div>
				</div>
			</header>
			<!-- end header -->


			<section id="inner-headline">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="pageTitle">{{ page_intro }}</h2>
						</div>
					</div>
				</div>
			</section>
        {% block content %}
        {% endblock %}
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<div class="widget">
								<h5 class="widgetheading">Our Contact</h5>
								<address>
									<strong>Tossapp (U) Ltd</strong><br>
									Kampala, Uganda<br>
								Mukono, Seeta.</address>
								<p>
									<i class="icon-phone"></i> (+256)70-342-6511 - (+256)78-287-0838 <br>
									<i class="icon-envelope-alt"></i> info@tossapp.com
								</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-3">
							<div class="widget">
								<h5 class="widgetheading">Quick Links</h5>
								<ul class="link-list">
									<li><a href="#">Latest Events</a></li>
									<li><a href="#">Terms and conditions</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Career</a></li>
									<li><a href="{% url 'contact' %}">Contact us</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-sm-3">
							<div class="widget">
								<h5 class="widgetheading">Daily Lotto Jackpot</h5>
								<ul class="link-list">
									<li><a href="{% url 'lotto' %}"><h1>{{ current_lotto|intcomma }}</h1></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="widget">
								<h5 class="widgetheading">Download the Android App</h5>
								<p>Download our Android App from the link below, or from the Android Store.</p>
								<ul class="link-list">
									<li><a href="#">Download.</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>


				<div id="sub-footer" style="background-color: #111111">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="copyright">
									<p>
										<span>&copy; Tossapp {{ year }} All right reserved. Created By </span><a href="www.tossapp.com" target="_blank">Tossapp</a>
									</p>
								</div>
							</div>
							<div class="col-lg-6">
								<ul class="social-network">
									<li><a href="www.facebook.com/tossapp" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
								</ul>
								</div>
								</div>
								</div>
								</div>
								</footer>
								</div>
								<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
								<!-- javascript
								================================================== -->
								<!-- Placed at the end of the document so the pages load faster -->
								<script src="{% static 'daily_lotto/home/js/jquery.js' %}"></script>
		                        <script src="{% static 'daily_lotto/home/js/jquery.easing.1.3.js' %}"></script>
		                        <script src="{% static 'daily_lotto/home/js/bootstrap.min.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/jquery.fancybox.pack.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/jquery.fancybox-media.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/jquery.flexslider.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/animate.js' %}"></script>
	<!-- Vendor Scripts -->
	                        <script src="{% static 'daily_lotto/home/js/modernizr.custom.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/jquery.isotope.min.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/jquery.magnific-popup.min.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/animate.js' %}"></script>
	                        <script src="{% static 'daily_lotto/home/js/custom.js' %}"></script>
								</body>
								</html>