{% extends 'daily_lotto/lotto_base.html' %}
{% load js %}

    {% block title %}Daily Lotto{% endblock %}
{% load staticfiles %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"
      xmlns="http://www.w3.org/1999/html"/>

   {% block content %}

       <div class="row">
						<div class="col-md-9">


							<div class="row" id="main-lotto-row" style="padding-top: 110px; background-image: url('{% static 'tossapp/assets/img/lotto/lotto_bg.jpg' %}');">


       <ul class="nav nav-tabs">
										<li class="active lotto_menu"><a data-toggle="tab" href="#new_draw">New Draw</a></li>
										<li class="lotto_menu"><a data-toggle="tab" href="#past_results">Past Results</a></li>
										<li class="lotto_menu"><a data-toggle="tab" href="#all_time_winners">All-time Winners</a></li>
										<li class="lotto_menu"><a data-toggle="tab" href="#rules">Rules</a></li>
									</ul>
                            {% if messages %}

                                <div class="alert alert-success alert-dismissable">
                                    {% for message in messages %}

                                        <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ message }}
                                        </ul>
                                </div>

                                    {% endfor %}
                            {% endif %}

                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}

									<div class="tab-content">

										<div id="new_draw" class="tab-pane fade in active">

											<!-- <h3>Next Draw</h3> -->

											<div class="row" id="next_draw_details">

												<div class="row" style="padding-left: 30px; padding-right: 30px; ">

													<div class="col-md-6" id="details_column1">
														<div class="column1">
															<span class="text1">Next Draw in:</span>
															<span id="time" class="text2">&nbsp;&nbsp;</span>
															<br>
															<span class="text1">Total Jackpot:</span>
															<span class="text2">&nbsp;&nbsp;{{ jackpot|intcomma }}</span>
															<br>
															<span class="text1">Tickets Sold:</span>
															<span class="text2">&nbsp;&nbsp; {{ ticket_count }}</span>
															<br>

														</div>
													</div>

													<div class="col-md-6" style="padding-top: 27px;">
														<button type="button" class="btn btn btn-block btn-lg buy_tickets_div" data-toggle="collapse" data-target="#buy_tickets_div"  style="font-weight: 700;">Buy Ticket @ 500/=</button>
													</div>
												</div>




												<div class="row" style="padding: inherit;">
													<div id="buy_tickets_div" class="col-md-12 collapse ticketform">

														<h4 class="ticketform_headings">Select Your Numbers</h4>



                                                        <form method="post" id="selection_form">
                                                            {% csrf_token %}

														<div class="row">

																<div class="col-xs-4 col-sm-2 col-md-2">
																	<div class="form-group">
																		<label for="number_1">Number 1:</label>
																		<select class="form-control" id="number_1" name="n1" required>
																			<option> </option>
																			<option>1</option>
																			<option>2</option>
																			<option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>24</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
																		</select>
																	</div>
																</div>

																<div class="col-xs-4 col-sm-2 col-md-2">
																	<div class="form-group">
																		<label for="number_2">Number 2:</label>
																		<select class="form-control" id="number_2" name="n2" required>
																			<option> </option>
																			<option>1</option>
																			<option>2</option>
																			<option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>24</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
																		</select>
																	</div>
																</div>

																<div class="col-xs-4 col-sm-2 col-md-2">
																	<div class="form-group">
																		<label for="number_3">Number 3:</label>
																		<select class="form-control" id="number_3" name="n3" required>
																			<option> </option>
																			<option>1</option>
																			<option>2</option>
																			<option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>24</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
																		</select>
																	</div>
																</div>

																<div class="col-xs-4 col-sm-2 col-md-2">
																	<div class="form-group">
																		<label for="number_4">Number 4:</label>
																		<select class="form-control" id="number_4" name="n4" required>
																			<option> </option>
																			<option>1</option>
																			<option>2</option>
																			<option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>24</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
																		</select>
																	</div>
																</div>

																<div class="col-xs-4 col-sm-2 col-md-2">
																	<div class="form-group">
																		<label for="number_5">Number 5:</label>
																		<select class="form-control" id="number_5" name="n5" required>
																			<option> </option>
																			<option>1</option>
																			<option>2</option>
																			<option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>24</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
																		</select>
																	</div>
																</div>

																<div class="col-xs-4 col-sm-2 col-md-2">
																	<div class="form-group">
																		<label for="number_6">Number 6:</label>
																		<select class="form-control" id="number_6" name="n6" required>
																			<option> </option>
																			<option>1</option>
																			<option>2</option>
																			<option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                            <option>6</option>
                                                                            <option>7</option>
                                                                            <option>8</option>
                                                                            <option>9</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>24</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
																		</select>
																	</div>
																</div>


														</div>
														<!-- END Ticket Row -->





														<!--- start Quick pick Raw -->
														<div class="row">
															<div class="col-md-12">
																<h4 class="ticketform_headings">Quick Pick:</h4>
																<p style="line-height: 19px;">Each ticket purchased will have a different set of randomly selected numbers.</p>

																	<div class="form-group">
																		<label class="control-label col-xs-12 col-sm-6 col-md-6" for="random_tickets">Quantity of Random Tickets:</label>

																		<div class="col-xs-12 col-sm-6 col-md-6">
																			<div class="input-group">
																				<span class="input-group-addon"><i class="fa fa-ticket"></i></span>
																				<input id="random_tickets" type="number" class="form-control" name="quantity" placeholder="Tickets" min="1" max="500">
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="control-label col-xs-12 col-sm-6 col-md-6" for="random_"></label>

																		<div class="col-xs-12 col-sm-6 col-md-6">
																			<div class="input-group">
																				<span class="input-group-addon"><i class="fa fa-money"></i></span>
																				<input id="random_tickets" type="number" class="form-control" name="random_tickets" placeholder="Total Amount" readonly>
																			</div>
																		</div>
																	</div>

																	<div class="form-group">
																		<label class="control-label col-xs-12 col-sm-6 col-md-6" for="random_"></label>

																		<div class="col-xs-12 col-sm-6 col-md-6">
																			<div class="input-group">
                                                                                <input type="submit" name="submit" value="Buy Ticket" class="btn btn-primary btn-sm fa fa-plus" />
																			</div>
																		</div>
																	</div>




																<div class="row">
																	<div class="col-md-6">
																	</div>


																	<div class="col-md-6">
																	</div>
																</div>

															</div>
														</div>
														<!--- start Quick pick Raw -->


                                                        </form>







													</div>
												</div>

											</div>

										</div>



										<div id="past_results" class="tab-pane fade">
											<!-- <h3>Past Results</h3> -->
											<div class="row" style="color: #fff;">
												<div class="col-md-12">

													<div class="row">
														<div class="col-md-3">
                                                            <p><a href="{% url 'previous_lotto' %}" class="btn btn-primary btn-lg"><i class="icon-arrow-left"></i> Previous Day</a></p>
														</div>

														<div class="col-md-6">
															<h4>Draw Date: {{ previous_date }}</h4>
														</div>

                                                        <div class="pull-right">
                                                            <div class="col-md-3">
                                                                <p><a href="{% url 'previous_lotto' %}" class="btn btn-primary btn-lg"><i class="icon-arrow-right"></i> Next Day</a></p>
                                                            </div>
                                                        </div>

													</div>



													<div class="row">
														<div class="col-xs-3 col-sm-3 col-md-3" style="text-align: -webkit-right; line-height: 10px;">
															<p>Winning Number: </p>
														</div>

														<div class="col-xs-9 col-sm-9 col-md-9">
															<div class="row">
																<div class="column2">
                                                                    {% for dailyLotto in winning_numbers %}
																	<div class="col-xs-4 col-sm-2 col-md-2 winning_star" style="background: url('{% static 'tossapp/assets/img/lotto/star.png' %}');"><p>{{ dailyLotto.win1 }}</p></div>
																	<div class="col-xs-4 col-sm-2 col-md-2 winning_star" style="background: url('{% static 'tossapp/assets/img/lotto/star.png' %}');"><p>{{ dailyLotto.win2 }}</p></div>
																	<div class="col-xs-4 col-sm-2 col-md-2 winning_star" style="background: url('{% static 'tossapp/assets/img/lotto/star.png' %}');"><p>{{ dailyLotto.win3 }}</p></div>
																	<div class="col-xs-4 col-sm-2 col-md-2 winning_star" style="background: url('{% static 'tossapp/assets/img/lotto/star.png' %}');"><p>{{ dailyLotto.win4 }}</p></div>
																	<div class="col-xs-4 col-sm-2 col-md-2 winning_star" style="background: url('{% static 'tossapp/assets/img/lotto/star.png' %}');"><p>{{ dailyLotto.win5 }}</p></div>
																	<div class="col-xs-4 col-sm-2 col-md-2 winning_star" style="background: url('{% static 'tossapp/assets/img/lotto/star.png' %}');"><p>{{ dailyLotto.win6 }}</p></div>
                                                                    {% endfor %}
																	<br>
																</div>
															</div>
														</div>
													</div>


													<div class="row" id="lotto_detail_1" style="line-height: 20px;">
														<div class="col-md-12">

															<table id="detail_table" align="left" border="0" cellspacing="0" cellpadding="0" width="100%">
																<tr align="left" valign="top">
																	<th class="past_lotto_col_1" style="width: 20%;"></th>
																	<th class="past_lotto_col_2" style="width: 80%;"></th>
																</tr>
																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">Winning Tickets:</td>
																	<td class="past_lotto_col_2">{{ number_of_winners }}</td>
																</tr>
																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">Total Prizes:</td>
																	<td class="past_lotto_col_2">{{ prize_sum|intcomma }}</td>
																</tr>
																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">My Prizes:</td>
																	<td class="past_lotto_col_2">{{ my_prize|intcomma }}</td>
																</tr>
															</table>



														</div>
													</div>



													<div class="row">
														<div class="col-md-12">

															<table id="rslt_table" align="left" border="0" cellspacing="0" cellpadding="0">
																<tr align="left" valign="top">
																	<th class="past_lotto_col_1" style="width: 20%;"></th>
																	<th class="past_lotto_col_2" style="width: 80%;"></th>
																</tr>

																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">Total Jackpot:</td>
																	<td class="past_lotto_col_2">{{ pjackpot|intcomma }}/=</td>
																</tr>

                                                                <tr align="left" valign="top">
																	<td class="past_lotto_col_1">Total Tickets Sold:</td>
																	<td class="past_lotto_col_2">{{ previous_sales|intcomma }}</td>
																</tr>

																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">6 Number Prize:</td>
                                                                    {% if number6Winners > 0 %}
                                                                        <td class="past_lotto_col_2">{{ number6Winners }}, Each Won {{ commission6|intcomma }}/= </td>
                                                                        {% else %}
																	<td class="past_lotto_col_2">No Winners, {{ pjackpot|intcomma }}/= Added to next day jackpot</td>
                                                                    {% endif %}
																</tr>

																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">5 Number Prize:</td>
                                                                    {% if number5Winners > 0 %}
                                                                        <td class="past_lotto_col_2">{{ number5Winners }}, Each Won {{ commission5|intcomma }}/= </td>
                                                                        {% else %}
																	<td class="past_lotto_col_2">No Winners, {{ pool5_winner|intcomma }}/= Added to Backup jackpot</td>
                                                                    {% endif %}
																</tr>

																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">4 Number Prize:</td>
                                                                    {% if number4Winners > 0 %}
                                                                        <td class="past_lotto_col_2">{{ number4Winners }}, Each Won {{ commission4 }}/= </td>
                                                                        {% else %}
																	<td class="past_lotto_col_2">No Winners, {{ pool4_winner }}/= Added to Backup jackpot</td>
                                                                    {% endif %}
																</tr>

																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">3 Number Prize:</td>
                                                                    {% if number3Winners > 0 %}
                                                                        <td class="past_lotto_col_2">{{ number3Winners }}, Each Won {{ commission3|intcomma }}/= </td>
                                                                        {% else %}
																	<td class="past_lotto_col_2">No Winners, {{ pool3_winner|intcomma }}/= Added to Backup jackpot</td>
                                                                    {% endif %}
																</tr>
															</table>

														</div>
													</div>


													<div class="row">
														<div class="col-md-12">
															<table id="winners_table" align="left" border="0" cellspacing="0" cellpadding="0">
																<h1>Winners</h1>
																<tr align="left" valign="top" style="background-color: #4cbb17;">
																	<th class="past_lotto_col_1" style="width: 35%;">Username</th>
																	<th class="past_lotto_col_2" style="width: 30%;">Numbers</th>
																	<th class="past_lotto_col_2" style="width: 10%;">Hits</th>
																	<th class="past_lotto_col_2" style="width: 25%;">Prize</th>
																</tr>
                                                                {% for dailyLottoResult in dailyLottoResult_list %}
																<tr align="left" valign="top">
																	<td class="past_lotto_col_1">{{ dailyLottoResult.winners }}</td>
																	<td class="past_lotto_col_2">
																		<span class="winning_num">{{ dailyLottoResult.daily_lotto_ticket.n1 }}</span>
																		<span class="winning_num">{{ dailyLottoResult.daily_lotto_ticket.n2 }}</span>
																		<span class="winning_num">{{ dailyLottoResult.daily_lotto_ticket.n3 }}</span>
																		<span class="winning_num">{{ dailyLottoResult.daily_lotto_ticket.n4 }}</span>
																		<span class="winning_num">{{ dailyLottoResult.daily_lotto_ticket.n5 }}</span>
																		<span class="winning_num">{{ dailyLottoResult.daily_lotto_ticket.n6 }}</span>
																	</td>
																	<td>{{ dailyLottoResult.hits_number_prize }}</td>
																	<td>{{ dailyLottoResult.prize|intcomma }}/=</td>
																</tr>
                                                                {% endfor %}

															</table>

														</div>
													</div>






												</div>
											</div>
										</div>


										<div id="all_time_winners" class="tab-pane fade">

											<div class="row">
												<div class="col-md-12">

													<h1 id="all_tym_header">All-time Winners</h1>

													<table align="left" id="all_winners_table"  border="0" cellspacing="0" cellpadding="0" style="width: -webkit-fill-available;">

														<tr align="left" valign="top" class="all_tym_win_rows" style="background-color: #4cbb17;">
															<th class="all_tym_win_col_1" style="width: 45%;">Username</th>
															<th class="all_tym_win_col_2" style="width: 30%;">Prize</th>
															<th class="all_tym_win_col_3" style="width: 25%;">Date</th>
														</tr>
                                                        {% for all_time_winners in highest_winners %}

														<tr align="left" valign="top" class="all_tym_win_rows">
															<td class="all_tym_win_col_1">{{ all_time_winners.winners }}</td>
															<td class="all_tym_win_col_2">{{ all_time_winners.prize|intcomma }}/=</td>
															<td class="all_tym_win_col_3">{{ all_time_winners.draw_date }}</td>
														</tr>
                                                        {% endfor %}

													</table>


												</div>
											</div>

										</div>


										<div id="rules" class="tab-pane fade">

											<div class="row">
												<div class="col-md-12">
													<div class="lotto_rules">
														Each ticket purchase lets you pick 6 unique numbers (1-50) for the next draw, that will take place at 00:00 server time.
														<br><br>
														Ticket sales for each draw end 5minutes prior to the draw time.<br>
														Users may purchase an unlimited number of tickets for each draw.<br>
														Prizes are paid at the time of the draw.<br>
														<br>
														Each 500/= ticket is applied as follows:
														<ul>
															<li>Ugx 25/= commission for the house</li>
															<li>Ugx 225/= is added to the 6 number jackpot</li>
															<li>Ugx 125/= is added to the 5 number daily prize pool</li>
															<li>Ugx 75/= is added to the 4 number daily prize pool</li>
															<li>Ugx 50/= is added to the 3 number daily prize pool</li>
														</ul>
														Prizes are paid for matching 3 or more numbers. For which you will share an equal portion of the applicable prize fund with any other winners that draw. In the event that there are no winners for the Jackpot, then it shall roll over to the next draw. And in the event there are no winners for 3, 4 or 5 number prizes; then the prize fund shall be added to the backup Jackpot. Which will replace the current 6 number jackpot when someone wins it.
													</div>
												</div>
											</div>

										</div>

									</div>



								</div>

							</div>

							<br/>
							<br/>


						</div>

						<div class="col-md-3">
							<p>Column 2s</p>
						</div>

       <link href="{% static 'tossapp/assets/css/ts_game_history.css' %}" rel="stylesheet" type="text/css" />
       {% comment %}<link href="{% static 'tossapp/assets/css/ts_lotto.css' %}" rel="stylesheet" type="text/css" />{% endcomment %}
       <link href="{% static 'tossapp/assets/css/ts_daily_lotto.css' %}" rel="stylesheet" type="text/css" />
       <script src="{% static 'daily_lotto/js/lotto_timer.js' %}" type="text/javascript"></script >
{% endblock %}

