{% extends 'layout1.html' %}

{% block title %}Rock-Paper-Scissor{% endblock %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'tossapp/rps/pixi.js' %}"></script>
        <!-- <script src="{% static 'tossapp/rps/rps_functions.js' %}"></script> -->
        <script src="{% static 'tossapp/rps/charm.js' %}"></script>

    <div id="rps_div"></div>


     <script src="{% static 'tossapp/rps/rps_functions.js' %}"></script>
        <script src="{% static 'tossapp/rps/rps.js' %}"></script>
{% endblock %}