/* here you can put your own css to customize and override the theme */
#ubuntu_font {
	font-family: Ubuntu;
}

.ts_top_menu {
	font-family: Ubuntu;
	color: #4cbb17; 
	font-size: 15px;
}

#ts_sidebar_username {
	font-family: Ubuntu;
	color: #333333; 
	font-size: 15px;
}


.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
    background-color: #4cbb17;
	color: #fff;
}

#amount_box {
	padding-right: 15px;
	font-family: Ubuntu;
	color: #ffffff;
}

/*This ID is for the Kelly Green And the Ubuntu Font */
#kelly_and_ubuntu {
	font-family: Ubuntu;
	color: #4cbb17; 	
}


/*This is the line under the Breadcrumbs */
.page-content-white .page-content .page-bar {
	border-bottom: 1px solid #4cbb17;
}


/* Page Css */

#ts_big_ref_img {
	height: 300px;
    text-align: -webkit-center;
    padding-top: 6%;
    color: #fff;
   
}

#ts_image_words {
	 font-weight: 600;
}

#your_share_links_text {
	font-family: Ubuntu;
	
}

#share_tile{
	background-color: #f6f6f6;
	margin-top: 2%;
	padding: 2%;
	text-align: center;
}


/*The Social Icons on the Sign Up Pages */
#ts_social_icon {
	width: 150px;
	margin-bottom: 10px;
}

/* Copy link button */
#copy_link_bt {
	margin-top: 5px;
}

/* still on copy link button */
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #4cbb17;
    border-color: #45991d;
}

/* Copy Link Button Hovered */

.btn.green:not(.btn-outline):hover{
	color: #4cbb17;
    background-color: #f6f6f6;
    border-color: #45991d;
	
}

/* Copy link clicked or Now Active */
.btn.green:not(.btn-outline):active {
	color: #FFF;
    background-color: #4cbb17;
    border-color: #45991d;
}

.btn.green:not(.btn-outline):active:hover {
	color: #FFF;
    background-color: #4cbb17;
    border-color: #3f7725;
}

/* copy REFERRAL lInk button Focused */
.btn.green:not(.btn-outline):focus {
	color: #4cbb17;
    background-color: #f6f6f6;
    border-color: #45991d;
}



/* TOP THE LEADERBOARD CSS */
#ts_top_lb_title_tb {
	text-align: center;
}

/* the TABLE STRIPE COLOR OF THE LEADERBOARD TABLE */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}


/* the referral table */
.portlet.box.yellow>.portlet-title, .portlet.yellow, .portlet>.portlet-body.yellow {
    background-color: #333333;
}

.portlet.box.yellow>.portlet-title>.caption, .portlet.box.yellow>.portlet-title>.caption>i {
    color: #4cbb17;
}

/* THE REFERRAL TABLE BOARDER */
.portlet.box.yellow {
    border: 1px solid #4cbb17;
    border-top: 0;
}

/* the referral table */
/* Page Css */



