.login {
    background-color: #4cbb17!important;
}

#space_here {
	
	padding-top: 100px;
}

/*The width of the Content Box */
#content_box {
	width: 60%;
}


/*The Social Icons on the Sign Up Pages */
#ts_social_icon {
	width: 150px;
	margin-bottom: 10px;
}

/* Malking the Signin word Kelly green */
.font-green {
    color: #4cbb17!important;
}

/* INPUT FIELDS */
/*the icons in the INPUT fields*/
.input-group-addon>i {
    color: #333333;
}

.input-group-addon {
    background-color: #dde3ec;
    border: 1px solid #dde3ec;
    border-radius: 4px;
}

/*RADIO BUTTONS */
/* The Male and Female Radio Buttons */
.md-radio label>.check {
    background: #4cbb17;
}

.md-radio label>.box {
    border: 2px solid #333333;
}

/* Color Of the Animation in the Radio Boxes */
.md-radio label>span.inc {
    background: #4cbb17;
    left: -20px;
    top: -20px;
    height: 60px;
    width: 60px;
    opacity: 0;
    border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
    -webkit-animation: growCircleRadio .3s ease;
    -moz-animation: growCircleRadio .3s ease;
    animation: growCircleRadio .3s ease;
}
/* END OF - INPUT FIELDS */

.login .content .form-control {
	color: #333333;
}
 

/* Changing the color of "Create an account" */
.login .content .create-account p a {
    color: #4cbb17;
}


.btn.green:not(.btn-outline) {
    color: #fff;
    background-color: #4cbb17;
    border-color: #4cbb17;
}
 
/* This is when the signin button is hovered over, */
.btn.green:not(.btn-outline):hover {
   color: #FFF;
    background-color: #333333;
    border-color: #333333;
}

/* Putting the login button to the Left of the div */
#right_bt {
	float: right;
}


/* i was hidding the small copyright in the background */
.login .copyright {
	color: #4cbb17;
}


.page-footer {
	background-color: #333333!important;
}