/* here you can put your own css to customize and override the theme */
/* here you can put your own css to customize and override the theme */


#ubuntu_font {
	font-family: Ubuntu;
}

.ts_top_menu {
	font-family: Ubuntu;
	color: #4cbb17; 
	font-size: 15px;
	font-weight: bold;
}

#ts_sidebar_username {
	font-family: Ubuntu;
	color: #333333; 
	font-size: 15px;
}


.nav>li>a:focus, .nav>li>a:hover {
	
	text-decoration: none;
    background-color: #4cbb17;
	color: #fff;
}

#amount_box {
	
	padding-right: 15px;
	font-family: Ubuntu;
	color: #ffffff;
	
}


/*This ID is for the Kelly Green And the Ubuntu Font */
#kelly_and_ubuntu {
	font-family: Ubuntu;
	color: #4cbb17; 	
}


/*This is the line under the Breadcrumbs */
.page-content-white .page-content .page-bar {
	border-bottom: 1px solid #4cbb17;
}

/* PAGE LEVEL CSS */

/* PAGE LEVEL CSS */



#ubuntu_font {
	font-family: Ubuntu;
}

.ts_top_menu {
	font-family: Ubuntu;
	color: #4cbb17; 
	font-size: 15px;
}

#ts_sidebar_username {
	font-family: Ubuntu;
	color: #333333; 
	font-size: 15px;
}


.nav>li>a:focus, .nav>li>a:hover {
	
	text-decoration: none;
    background-color: #4cbb17;
	color: #fff;
}

#amount_box {
	
	padding-right: 15px;
	font-family: Ubuntu;
	color: #ffffff;
	
}


/*This ID is for the Kelly Green And the Ubuntu Font */
#kelly_and_ubuntu {
	font-family: Ubuntu;
	color: #4cbb17; 	
}


/*This is the line under the Breadcrumbs */
.page-content-white .page-content .page-bar {
	border-bottom: 1px solid #4cbb17;
}

/* PAGE LEVEL CSS */

#ts_box_profile_img {
    width: 100%;
    height: 300px;
}

#ts_upload_pic_bt {
	
}

/* Upload Photo BUTTON */
.btn.blue:not(.btn-outline) {
    color: #f6f6f6;
    background-color: #4cbb17;
    border-color: #333333;
	font-weight: bold;
}

/* Upload Photo BUTTON HOVERED */
.btn.blue:not(.btn-outline):hover {
    color: #4cbb17;
    background-color: #f6f6f6;
    border-color: #4cbb17;
}
/* Upload Photo BUTTON HOVERED */


/* Upload Photo BUTTON ACTIVE */

.btn.blue:not(.btn-outline).focus, .btn.blue:not(.btn-outline):focus {
	color: #4cbb17;
    background-color: #f6f6f6;
    border-color: #333333;
	
}
/* Upload Photo BUTTON ACTIVE */


#ts_main_headers {
		    background-color: #333;
    color: #4cbb17;
    font-weight: 900;
}

#ts_main_info_heading {

}

tr, #ts_main_info_heading, #ts_infobox_edit_bt {
	    border-top: 1px solid #333333;
}

#ts_main_info_edit_button {
	font-size: 20px;
	
}

#ts_main_info_box {
	background-color: #f6f6f6;	
}

#ts_main_info_text {
	font-weight: 900;
}

#ts_main_info_text_ans {
	padding-left: 100px;
	font-weight: 400;
}

/* PAGE LEVEL CSS */

