{% extends 'base.html' %}

{% block title %}ContactUs{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


{% if messages %}
        <div class="alert alert-success alert-dismissable">
        {% for message in messages %}
        <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </ul>
            </div>
    {% endfor %}
    {% endif %}

    <form action="{% url 'contact' %}" method="post">
    {% csrf_token %}

				<h3 class="form-title font-green">Contact Us</h3>

					<p>Leave us a Message.</p>
        {{ myqn_form.as_p }}

				<div class="form-actions">

					<div class="md-checkbox">

						<span>
							<button class="btn green uppercase" id="right_bt">Send Message <i class="fa fa-send"></i></button>
						</span>


					</div>



				</div>

			</form>

{% endblock %}