{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="box-header with-border">
  <h3 class="box-title">FAQ</h3>
{% for faq in faq_list %}
    <ul>
    <li>
    <a href="/faq/{{ faq.slug }}">{{ faq.question }}</a>
    </li>
    </ul>
{% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if faqs.has_previous %}
            <a href="?page={{ faqs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ faqs.number }} of {{ faqs.paginator.num_pages }}.
        </span>

        {% if faqs.has_next %}
            <a href="?page={{ faqs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

    </div>

{% endblock %}