<!DOCTYPE html>
<html>

<head>
    <title>Rock Paper and Scissor</title>
    <script src="pixi.min.js"></script>
    <script src="rps_functions.js"></script>
    <script src="scaleToWindow.js"></script>
    <script src="bump.js"></script>
    <script src="charm.js"></script>
    <script src="dust.js"></script>
    <script src="tink.js"></script>
    <script src="spriteUtilities.js"></script>
    <script src="gameUtilities.js"></script>
</head>

<body>
    <div id="display"></div>
    <script src="rps.js"></script>
</body>

</html>