/*
Author URI: http://fabtechnoid.com 
-------------------------------------------------------*/

.topbar {
    background-color: #4cbb17;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #4cbb17;
}

.flex-caption h3 {
    color: #4cbb17;
}

#call-to-action-2 {
    background-color: #4cbb17;
}

#call-to-action-2 .btn-primary {
    border-color: #ffffff;
    color: #002e5b;
	background: #ffffff;
}

.info-blocks i.icon-info-blocks {
	color: #ffffff;
    background: #4cbb17;
    border: 1px solid #4cbb17;
}


section.section-padding.gray-bg {
    color: #484848;
}


#btn_org{
    color: #ffffff;
    background: #4cbb17;
    border-color: #4cbb17;
}

footer {
    background: #4cbb17;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #ffffff;
}

footer address {
    color: #ffffff;
}


#inner-headline {
    background: #4cbb17;
}

ul.social-network li {
    border: 1px solid #4cbb17;
}