{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% load staticfiles %}
{% block content %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    <div class="row">
    <div class="col-md-12">
        <h3 class="form-title font-green">Create Your New Account</h3>
        <p>Join the Tossapp Community where the Fun never Stops. Lets setup your Account. Already have one? <a href="{% url 'login' %}">Signin here.</a> </p>

        <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Enter any username and password. </span>
        </div>
    </div>
        </div>

    <div class="row">

				<div class="col-md-12">

					<div class="row">
						<div class="col-md-12">
  <form class="login-form" method="POST">
  {% csrf_token %}
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-user"></i>
										</span>
										<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
										<label class="control-label visible-ie8 visible-ie9">Username</label>
										<input type="text" name="username" class="form-control" placeholder="Username" >
									</div>
								</div>


								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="icon-screen-smartphone"></i>
										</span>
										<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
										<label class="control-label visible-ie8 visible-ie9">Phone Number</label>
										<input type="text" name="phone_number" class="form-control" placeholder="Phone Number" >
									</div>
								</div>


								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-lock" style=" padding-left: 10%; padding-right: 10%; "></i>
										</span>
										<label class="control-label visible-ie8 visible-ie9">Password</label>
										<input type="password" name="password1" class="form-control" autocomplete="off" placeholder="Password" >
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-lock" style=" padding-left: 10%; padding-right: 10%; "></i>
										</span>
										<label class="control-label visible-ie8 visible-ie9">Password Again</label>
										<input type="password" name="password2" class="form-control" autocomplete="off" placeholder="Password Again" >
									</div>
								</div>

                                <div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-user"></i>
										</span>
										<label class="control-label visible-ie8 visible-ie9">Referrer Username</label>
										<input type="text" name="referrer_username" class="form-control" autocomplete="off" placeholder="Referrer Username">
									</div>
								</div>

								<p>By submitting this form, you Agree to Tossapp's <a href="#">Terms & Conditions</a></p>

								<div class="form-actions">
									<div class="md-checkbox">
										<span>
                                            <button class="btn green uppercase" id="right_bt">Signup <i class="icon-plus"></i></button>
										</span>
									</div>
								</div>

							</form>

                            </div>
                        </div>
                    </div>
    </div>
    <link href="{% static 'tossapp/assets/css/ts_signup.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}