/* here you can put your own css to customize and override the theme */


#ubuntu_font {
	font-family: Ubuntu;
}

.ts_top_menu {
	font-family: Ubuntu;
	color: #4cbb17; 
	font-size: 15px;
}

#ts_sidebar_username {
	font-family: Ubuntu;
	color: #333333; 
	font-size: 15px;
}


.nav>li>a:focus, .nav>li>a:hover {
	
	text-decoration: none;
    background-color: #4cbb17;
	color: #fff;
}

#amount_box {
	
	padding-right: 15px;
	font-family: Ubuntu;
	color: #ffffff;
	
}


/*This ID is for the Kelly Green And the Ubuntu Font */
#kelly_and_ubuntu {
	font-family: Ubuntu;
	color: #4cbb17; 	
}


/* Transaction Table */
/* Transaction Search Box */
#ts_transactions_search_box {
	width: 50%;
    float: right;
}

.input-group-addon {
    background-color: #eee;
    border: 1px solid #4cbb17;
    border-radius: 4px;
}

#search_box_box {
    background-color: #fff;
    border: 1px solid #4cbb17;
}

.input-group-addon>i {
    color: #4cbb17;
}
/*Search Box*/

/* The words */
.portlet.box.blue>.portlet-title>.caption, .portlet.box.blue>.portlet-title>.caption>i {
    color: #4cbb17;
}

#amount_trasaction_table {
	text-align: right;
}

/* Table Boarder */
.portlet.box.blue {
    border: 1px solid #4cbb17;
    border-top: 0;
}

.portlet.blue, .portlet.box.blue>.portlet-title, .portlet>.portlet-body.blue {
    background-color: #333333;
}



/* Transaction Table */

/*This is the line under the Breadcrumbs */
.page-content-white .page-content .page-bar {
	border-bottom: 1px solid #4cbb17;
}