/* here you can put your own css to customize and override the theme */


#ubuntu_font {
	font-family: Ubuntu;
}

.ts_top_menu {
	font-family: Ubuntu;
	color: #4cbb17; 
	font-size: 15px;
	font-weight: bold;
}

#ts_sidebar_username {
	font-family: Ubuntu;
	color: #333333; 
	font-size: 15px;
}


.nav>li>a:focus, .nav>li>a:hover {
	
	text-decoration: none;
    background-color: #4cbb17;
	color: #fff;
}

#amount_box {
	
	padding-right: 15px;
	font-family: Ubuntu;
	color: #ffffff;
	
}


/*This ID is for the Kelly Green And the Ubuntu Font */
#kelly_and_ubuntu {
	font-family: Ubuntu;
	color: #4cbb17; 	
}


/*This is the line under the Breadcrumbs */
.page-content-white .page-content .page-bar {
	border-bottom: 1px solid #4cbb17;
}

/* PAGE LEVEL CSS */

/* PAGE LEVEL CSS */

