/* here you can put your own css to customize and override the theme */


#ubuntu_font {
	font-family: Ubuntu;
}

.ts_top_menu {
	font-family: Ubuntu;
	color: #4cbb17; 
	font-size: 15px;
}

#ts_sidebar_username {
	font-family: Ubuntu;
	color: #333333; 
	font-size: 15px;
}


.nav>li>a:focus, .nav>li>a:hover {
	
	text-decoration: none;
    background-color: #4cbb17;
	color: #fff;
}

#amount_box {
	
	padding-right: 15px;
	font-family: Ubuntu;
	color: #ffffff;
	
}


/*This ID is for the Kelly Green And the Ubuntu Font */
#kelly_and_ubuntu {
	font-family: Ubuntu;
	color: #4cbb17; 	
}


/*This is the line under the Breadcrumbs */
.page-content-white .page-content .page-bar {
	border-bottom: 1px solid #4cbb17;
}


/* PAGE LEVEL CSS */

/* GAME BOX */
#ts_game_box {
	margin-bottom: 5%;
}
#ts_game_title {
	
    text-align: -webkit-center;
	font-family: Ubuntu;
	font-weight: bold;
    background-color: #333333;
    color: #4cbb17;
    margin: auto;
    padding: 2%;
}

#ts_game_img {
    width: 100%;
    height: 200px;
}

#ts_game_play_bt {
	
}

/* GAME BOX PLAY BUTTON */
.btn.blue:not(.btn-outline) {
    color: #f6f6f6;
    background-color: #4cbb17;
    border-color: #333333;
	font-weight: bold;
}

/* GAME BOX PLAY BUTTON HOVERED */
.btn.blue:not(.btn-outline):hover {
    color: #4cbb17;
    background-color: #f6f6f6;
    border-color: #4cbb17;
}
/* GAME BOX PLAY BUTTON HOVERED */


/* GAME BOX PLAY BUTTON ACTIVE */

.btn.blue:not(.btn-outline).focus, .btn.blue:not(.btn-outline):focus {
	color: #4cbb17;
    background-color: #f6f6f6;
    border-color: #333333;
	
}
/* GAME BOX PLAY BUTTON ACTIVE */



/* GAME BOX PLAY BUTTON */

/* GAME BOX */


/* PAGE LEVEL CSS */

