{% extends 'layout1.html' %}

{% block title %}Dashboard: Account{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <div class="col-md-12">

							<div class="row" id="ts_tile_row">
								<div class="col-md-12">

								<div class="row">

									<div class="col-md-4" >
										<div id="ts_acc_tiles">
											<h3 id="ts_acc_tile_title">Balance</h3>
											<p id="ts_acc_tile_ans">Ugx {{ user.balance }} /=</p>
										</div>
									</div>

									<div class="col-md-4">
										<div id="ts_acc_tiles">
											<h3>Points</h3>
											<p># {{ request.user.points }} Points</p>
										</div>
									</div>

									<div class="col-md-4">
										<div id="ts_acc_tiles">
											<h3>Referrals</h3>
											<p>{{ request.user.referrals.count }} Friends</p>
										</div>
									</div>

								</div>

								</div>
							</div>


								<br/>


							<div class="row">
								<div class="col-md-12">


								<div class="portlet light bordered">


									<div class="portlet-body">

										<ul class="nav nav-pills"  style="background-color: #333333;">


											<li class="active" id="ts_tab_bts">
												<a href="#tab_2_1" data-toggle="tab" class="ts_tab_button"> Username </a>
											</li>

											<li id="ts_tab_bts">
												<a href="#tab_2_2" data-toggle="tab" class="ts_tab_button"> Password </a>
											</li>

											<li id="ts_tab_bts">
												<a href="#tab_2_3" data-toggle="tab" class="ts_tab_button"> Payments </a>
											</li>

										</ul>

                                        {% if form.errors %}
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if messages %}
                                            <div class="alert alert-success alert-dismissable">
                                                {% for message in messages %}
                                                    <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        {{ message }}
                                                    </ul>
                                                    </div>
                                                {% endfor %}
                                        {% endif %}

										<div class="tab-content" style="padding: 1%;">

											<div class="tab-pane fade active in" id="tab_2_1">

												<p>
													<div class="row">
														<div class="col-md-12">

                                                    <form action="" name="form_name" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="form_name" value=changeusernameform" />

															<div id="form_group_div">
																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label" id="ts_contral_label">Current Username: </label>
																	<div class="col-md-8">
																		<input type="text" name="current_username" class="form-control" placeholder="{{ user.username }}" readonly="" />
																	</div>
																</div>

																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label"  id="ts_contral_label">New Username</label>
																	<div class="col-md-8">
																			<input type="text" name="new_username" class="form-control" placeholder="New Username"  />
																	</div>
																</div>


																<div class="form-group" id="ts_form_groups"  id="ts_contral_label">
																	<label class="col-md-4 control-label">Password</label>
																	<div class="col-md-8">
																			<input type="password" name="password" class="form-control" placeholder="Password" />
																	</div>
																</div>


																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label"></label>
																	<div class="col-md-8">
																			<button class="btn green uppercase" id="right_bt"> Change Username <i class="fa fa-gg"></i></button>
																	</div>
																</div>

															</div>

														</form>


														</div>
													</div>
												</p>

											</div>

											<div class="tab-pane fade" id="tab_2_2">


												<p>
													<div class="row">
														<div class="col-md-12">
														<form action="" method="POST">
                                                    {% csrf_token %}
                                                     <input type="hidden" name="form_name" value="changepasswordform" />

															<div id="form_group_div">
																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label"  id="ts_contral_label">Old Password: </label>
																	<div class="col-md-8">
																			<input type="password" name="old_password" class="form-control" placeholder="Old Password" />
																	</div>
																</div>


																<div class="form-group" id="ts_form_groups"  id="ts_contral_label">
																	<label class="col-md-4 control-label">New Password</label>
																	<div class="col-md-8">
																			<input type="password" name="new_password" class="form-control" placeholder="New Password" />
																	</div>
																</div>



																<div class="form-group" id="ts_form_groups"  id="ts_contral_label">
																	<label class="col-md-4 control-label">Retype New Password</label>
																	<div class="col-md-8">
																			<input type="password" name="retype_new_password" class="form-control" placeholder="Retype New Password" />
																	</div>
																</div>


																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label"></label>
																	<div class="col-md-8">
																			<button class="btn green uppercase" id="right_bt"> Change Password <i class="fa fa-gg"></i></button>
																	</div>
																</div>

															</div>

														</form>

														</div>
													</div>
												</p>


											</div>

											<div class="tab-pane fade" id="tab_2_3">


												<p>
													<div class="row">
														<div class="col-md-12">

														<form action="#" method="POST">
                                                            {% csrf_token %}

															<div id="form_group_div">


																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label" id="ts_contral_label">Current Payment Method: </label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" placeholder="Mobile Money" readonly="" />
																	</div>
																</div>

																<div class="form-group">
																	<label class="col-md-3 control-label"></label>
																	<div class="col-md-9">
																		<label>
																			<span><input type="radio" name="" id="" value="Mobile Money" checked=""></span>
																			 Mobile Money
																		</label>
																	</div>
																</div>


																<div class="form-group">
																	<label class="col-md-3 control-label"></label>
																	<div class="col-md-9">
																		<label>
																			<span>
																				<input type="radio" name="" id="" value="Visa Card" disabled>
																			</span>


																			<span id="ts_payment_not_available">Visa card</span>

																			<span id="ts_payment_coming_soon">Coming Soon</span>

																		</label>
																	</div>
																</div>


																<div class="form-group" id="ts_form_groups">
																	<label class="col-md-4 control-label"></label>
																	<div class="col-md-8">
																			<button class="btn green uppercase" id="right_bt"> Change Payment Method <i class="fa fa-gg"></i></button>
																	</div>
																</div>

															</div>

														</form>


														</div>
													</div>
												</p>


											</div>

										</div>
									</div>
								</div>


									</div>
								</div>


							</div>
						</div>
    <link href="{% static 'tossapp/assets/css/ts_settings.css' %}" rel="stylesheet" type="text/css" />


{% endblock %}

