{% extends 'layout1.html' %}

{% block title %}Dashboard: Games{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="row">
    <div class="col-md-12">
    <div class="row">
        {% for game in games %}
    <div class="col-md-4">
    <div id="ts_game_box">
            <h4 id="ts_game_title">{{ game.name }}</h4><img src="{{ game.display_photo.url }}" id="ts_game_img" alt="">
            <a href="{{ game.slug }}"> <button id="ts_game_play_bt" class="btn blue btn-block"> Play </button></a>
            <strong>Number of times Played: {{ game.times_played }}</strong>
</div>
            </div>
        {% endfor %}

    </div>
    <br>
</div>
    </div>
    <link href="{% static 'tossapp/assets/css/ts_all_games.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}