{% extends 'layout1.html' %}

{% block title %}Dashboard: Games history{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead style="background-color: #333;">
            <tr style="color: #4cbb17;">
                <th>Game</th>
                <th>Bet</th>
                <th>Status</th>
                <th>Won/Lost</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for stat in game_stat_list %}
            <tr>
                <td>{{ stat.game }}</td>
                <td>{{ stat.bet_amount }}</td>
                <td>{{ stat.get_status_display }}</td>
                <td>
                    {% if stat.status == stat.WIN %}
                        {{ stat.win_amount }}
                    {% else %}
                        {{ stat.loss_amount }}
                    {% endif %}
{#                    {{ stat.status==stat.WIN|yesno:stat.win_amount,stat.loss_amount}} }}#}
                </td>
                <td>{{ stat.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <link href="{% static 'tossapp/assets/css/ts_game_history.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}