{% extends 'layout1.html' %}

{% block title %}Dashboard: Notifications{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row" style="border-bottom: 2px solid #000;">
                                    <div class="col-md-6">
                                        <h4 style="float: left;">Your Notifications</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="float: right; color: #33719e; ">Notifications Settings</h4>
                                    </div>
                                </div>
                                <h5>Get notifications via: <span style="color: #33719e;"> Text Message </span><span>Click notification to mark as read</span></h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- Notifications table -->
                                        <div class="portlet light bordered">
                                            <div class="portlet-title" id="ts_portlet_title_div">
                                                <div class="caption" id="ts_caption_div">
                                                    <i class="icon-bell font-green"></i>
                                                    <span class="caption-subject font-green bold">Notifications</span>
                                                </div>
                                                <div class="actions" id="ts_action_div">
                                                    <h5><span style="font-weight: bold;"> {{notification_count }} UnSeen </span></h5>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-scrollable">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        {% for notification in notification_list %}
                                                            {% if notification.seen_status == False %}
                                                            <tr id="ts_notification_unread">
                                                                {% else %}
                                                                <tr id="ts_notification_read">
                                                            {% endif %}
                                                                <td style="background-color: #4cbb17; text-align: center; ">
                                                                <h1 style="margin-bottom: 0px;"></h1>
                                                                    {% if notification.type == 1 %}
                                                                   <h1> <a href="/mark_as_read/{{ notification.id }}/"> <i class="fa fa-info" id="ts_big_notification_icons"></i></a></h1>
                                                                        {% elif notification.type == 0 %}
                                                                       <h1> <a href="/mark_as_read/{{ notification.id }}/"><i class="fa fa-check" id="ts_big_notification_icons"></i></a></h1>
                                                                        {% elif notification.type == 4 %}
                                                                        <h1> <a href="/mark_as_read/{{ notification.id }}/"><i class="fa fa-bank" id="ts_big_notification_icons"></i></a></h1>
                                                                        {% elif notification.type == 3 %}
                                                                        <h1><i class="fa fa-info" id="ts_big_notification_icons"></i></h1>
                                                                        {% elif notification.type == 2 %}
                                                                        <h1> <a href="/mark_as_read/{{ notification.id }}/"><i class="fa fa-info" id="ts_big_notification_icons"></i></a></h1>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <p id="ts_notication_title">{{ notification.title }}.</p>
                                                                    <p id="ts_notication_sms">{{ notification.description }} </p>
                                                                    <p style="margin: Auto;"> <i class="fa fa-clock-o" id="ts_small_notification_icons"></i>
                                                                        <span id="ts_small_notification_text">{{ notification.timestamp }}</span>
                                                                    </p>
                                                                </td>
                                                                <td style="text-align: -webkit-right;">
                                                                    {% if notification.seen_status == False %}
                                                                    <i class="fa fa-circle" id="ts_unread_dot_icons"></i>
                                                                    {% elif notification.seen_status == True %}
                                                                    <i class="fa fa-circle-o" id="ts_read_dot_icons"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}                                         </div>
                                            </div>
                                        </div>
                                        <!-- Notifications table -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- There will be an Ad Here -->
                            </div>
                        </div>
                    </div>
    </div>
    <link href="{% static 'tossapp/assets/css/ts_notifications.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}